#error-page {
    text-align: center;
    background: linear-gradient(45deg, #33338c, #55559a);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}